#portfolio {
	.gridHead {
		&:first-child {
			width: 20%;
			text-align: left;
		}
		&:last-child {
			width: 20%;
			text-align: right;
		}
	}
	.gridRow:nth-child(even) {
		/* background-color: #eee; */
	}
}